body{
background-image: url('https://img.freepik.com/free-photo/desk-workspace-with-various-elements_23-2148043207.jpg?semt=ais_hybrid');
background-size: cover;
background-repeat: no-repeat;
background-position: fixed;
}