body{
background-image: url('https://plus.unsplash.com/premium_photo-1661775756810-82dbd209fc95?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d3JpdGluZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
background-size: cover;
background-repeat: no-repeat;
background-position: fixed;
}